:root{
  --primary: #FF5DA8;
  --light: #FFE0EE;
  --dark: #212529;
  --white: #ffffff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none !important; /* hủy gạch chân liên kết */
  color: var(--dark) !important;
}
html{
  font-family: 'Inter', sans-serif;
}
/* navmenu */
.navbar{
  background-color: #FFE0EE;
}
.logo-head{
  width: 120px;
  height: 103px;
  object-fit: cover;
}
.navbar-brand{
  font-family: 'Luckiest Guy', cursive;
  color: var(--primary) !important;
  font-weight: 400;
  letter-spacing: 1px;
}
.form_search{
  position: relative;
}
.icon_search{
  position: absolute;
  top: 14%;
  left: 92%;
}

/* products */
.card_product, .card_danh_muc{
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.card_product:hover, .card_danh_muc:hover, .list-group-item:hover{
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}
.btn_xem_them{
  color: var(--white) !important;
  background-color: var(--primary) !important;
}
.btn_xem_them:hover{
  color: var(--dark) !important;
  border: 2px solid var(--primary)  !important;
  background-color: var(--white)  !important;
}
/* footer */
footer{
  background-color: var(--light);
}
.text-footer:hover{
  color: var(--primary) !important;
}
